h1 {
    color: rgb(00,220,00)
}
p {
    color: cadetblue;
    background-color: aqua
    ;
}
button {
    color: blue;
    background-color: rgb(222, 222, 11);
}
body {
    background-color: bisque;
}
#box {
    background-color: #0e57cc
}
